/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
  }
  
  /* Hide scrollbar for Firefox */
  .hide-scrollbar {
    scrollbar-width: none; /* Hides the scrollbar */
  }
  
  /* Hide scrollbar for Internet Explorer and older browsers */
  .hide-scrollbar {
    -ms-overflow-style: none; /* Hides the scrollbar */
  }
  